@font-face {
  font-family: Mova;
  src: url("./Mova.ttf") format("truetype");
}

@font-face {
  font-family: BB;
  src: url("./bb.ttf") format("truetype");
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79.999% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81.111% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83.333% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.555% {
    color: inherit;
    text-shadow: inherit;
  }
}

.page {
  position: absolute;
  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "BB";
  background-color: #0d1323;
  color: white;
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.header__name {
  font-size: 78px;
  color: red;
  text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  margin: 0;
}

.header__letter-blink {
  animation: blink linear infinite 3s;
}

.header__prof {
  margin: 0;
  font-size: 35px;
  color: lightgreen;
  text-shadow: 0 0 80px green, 0 0 30px lightgreen, 0 0 6px lightgreen;
}

.projects {
  margin: 0;
  position: relative;
}

.projects__title {
  margin: 0 auto;
  text-align: center;
}
