@font-face {
  font-family: Mova;
  src: url("./Mova.ttf") format("truetype");
}

.page {
  position: absolute;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Mova";
  background-color: #0d1323;
  color: white;
  height: 100%;
  width: 100%;
}

.header {
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.header__name {
  font-size: 78px;
  text-shadow: 0 0 80px aliceblue, 0 0 30px antiquewhite, 0 0 6px antiquewhite;
  margin: 0;
}

.header__letter-blink {
  animation: blink linear infinite 3s;
}

.header__prof {
  margin: 0;
  font-size: 35px;
  text-shadow: 0 0 80vw aliceblue, 0 0 30px antiquewhite, 0 0 6px antiquewhite;
}

.projects {
  margin: 0;
  position: relative;
}

.projects__title {
  text-align: center;
}

.projects__cards {
  display: flex;
  justify-content: space-around;
}

.card {
  max-width: 374px;
  max-height: 204px;
}

.card__title {
  text-align: center;
}

.card__link {
  text-decoration: none;
  color: antiquewhite;
}

.project__pulse {
  min-width: 420px;
  min-height: 230px;
}
