@font-face {
  font-family: BS;
  src: url("../fonts/Billion\ Smile.ttf");
}

@font-face {
  font-family: DS;
  src: url("../fonts/Dear\ Sunshine.ttf");
}

@font-face {
  font-family: Clipper;
  src: url("../fonts/Clipper.ttf");
}

@keyframes winding {
  0% {
    transform: skew(0deg, 0deg);
  }
  50% {
    transform: skew(-2deg, 1deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.page {
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "DS";
  color: black;
  height: 100%;
  width: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 40vh 0 40vh 0;
}

.section__title {
  font-family: "Clipper";
  margin: 10vh auto 5vh auto;
  font-size: 4vh;
  text-align: center;
}

.description {
  position: absolute;
  top: 25vh;
  left: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 5vw);
  grid-template-rows: repeat(3, 5vh);
}

.description__cell {
  width: 10vw;
  height: 10vh;
}

.description__cell-twitter {
  grid-row: 2;
  grid-column: 2;
}

.description__cell-telegram {
  grid-row: 3;
  grid-column: 3;
}

.header__name {
  color: black;
  font-family: BS;
  font-size: 78px;
  text-shadow: 0 0 80px aliceblue, 0 0 30px antiquewhite, 0 0 6px antiquewhite;
  margin: 0;
}

.header__letter-blink {
  animation: blink linear infinite 3s;
}

.header__prof {
  font-family: DS;
  color: brown;
  margin: 0;
  font-size: 35px;
  text-shadow: 0 0 80vw aliceblue, 0 0 30px antiquewhite, 0 0 6px antiquewhite;
}

.sakura {
  position: absolute;
  top: -3vh;
  left: -3vw;
  animation: winding 7s ease-in-out infinite;
}

.projects {
  margin: 0;
  position: relative;
  background-color: #fff5f5;
}

.projects__cards {
  width: 55vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 20vh;
  max-width: 374px;
  max-height: 204px;
}

.card__title {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.card__link {
  text-decoration: none;
  color: black;
}

.card__link:hover {
  opacity: 0.5;
}

.project__minesweeper {
  transition: all 0.2s ease-in-out;
}

.project__minesweeper:hover {
  transform: scale(1.6);
  width: 370px;
  height: 200px;
}

.bio {
  background-color: white;
  text-align: center;
  margin-bottom: 100px;
}

.bio span {
  color: #a52a2a;
}

.contacts {
  background-color: #fff5f5;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.contacts__links {
  padding: 0;
  list-style: none;
  width: 40vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.contacts__link {
  color: black;
}

.contacts__image {
  object-fit: cover;
}

@media (min-width: 500px) {
  .sakura {
    max-width: 70vw;
    max-height: 90vh;
  }
  .project__pulse {
    min-width: 420px;
    min-height: 230px;
  }
  .project__minesweeper {
    width: 370px;
    height: 230px;
  }

  .bio {
    font-size: 2vw;
  }
}

@media (max-width: 499px) {
  .page {
    width: 100vw;
  }
  .sakura {
    max-width: 100vw;
    max-height: 100vh;
  }
  .project__pulse {
    max-width: 90vw;
    max-height: 90vh;
  }
  .project__minesweeper {
    max-width: 90vw;
    max-height: 90vh;
  }
  .bio {
    font-size: 1.2rem;
  }
}
